/* Sorgt für einen transparenten Hintergrund in OBS */
html, body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
}

#scene-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Alle Elemente in der Szene werden absolut positioniert */
#scene-container > * {
    position: absolute;
    display: block;
}

/* Videos sollen sich an die Größe ihres Containers anpassen */
video {
    width: 100%;
    height: 100%;
}
